<div class="container-fluid p-5 d-flex flex-column justify-content-center">
    <div class="bg-primary rounded shadow">
        <h2 class="text-center text-white fs-3 mt-2">Calculadora de pressupostos per a</h2>
        <h1 class="text-center text-white text-uppercase bg-info m-0 p-2">disseny web i gestió de visibilitat</h1>
    </div>

    <div class="d-flex flex-column text-center mt-5 gap-4 align-items-center">

        <div class="row w-75">
            <div class="col">
                <p class="fs-5 mb-0">En aquesta web podreu calcular pressupostos senzills per a clients web.</p>
                <p class="fs-5">Per a calcular el cost total, es tindrà en compte:</p>

                <ul class="list-group mt-4">
                    <li class="list-group-item">el nombre de pàgines de la web</li>
                    <li class="list-group-item">el nombre d'idiomes</li>
                    <li class="list-group-item">consultoria SEO</li>
                    <li class="list-group-item">campanya amb Google Ads</li>
                </ul>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <a class="btn btn-info fw-bold text-light" href="/calculadora">Anar a la calculadora</a>
            </div>
        </div>
    </div>


</div>