<!-- Rótulo -->
<div class="d-flex justify-content-between mb-2">
    <p>Pressupostos generats ({{ pressupostListGetBudgetsSize() }})</p>
    <button class="btn btn-link text-danger" style="text-decoration: none;" (click)="pressupostListEraseLocalStorage()">Esborrar-ho tot<i class="ms-2 bi bi-trash3-fill fs-5"></i></button>
</div>

<!-- Grupo de botones de búsqueda y orden -->
<div class="mb-3 d-flex gap-2 justify-content-start">

    <!-- Ordenar por IDS -->
    <input type="radio" class="btn-check" name="options-outlined" id="id-rev-outlined" autocomplete="off" checked
        (click)="pressupostListSetShowSortedBy(0)">
    <label class="btn btn-outline-primary" for="id-rev-outlined"><i class="bi bi-sort-numeric-down-alt fs-5"></i></label>

    <!-- Ordenar alfabéticamente -->
    <input type="radio" class="btn-check" name="options-outlined" id="alpha-outlined" autocomplete="off"
        (click)="pressupostListSetShowSortedBy(1)">
    <label class="btn btn-outline-primary" for="alpha-outlined"><i class="bi bi-sort-alpha-down fs-5"></i></label>

    <!-- Ordenar cronológicamente -->
    <input type="radio" class="btn-check" name="options-outlined" id="calendar-outlined" autocomplete="off"
        (click)="pressupostListSetShowSortedBy(2)">
    <label class="btn btn-outline-primary" for="calendar-outlined"><i class="bi bi-calendar3 fs-5"></i></label>

    <!-- Buscar por nombre del presupuesto -->
    <input #radiosearch type="radio" class="btn-check" name="options-outlined" id="search-outlined" autocomplete="off"
        (click)="pressupostListSetShowSortedBy(3)"
        [checked]="pressupostListIsSearchSelected">
    <label class="btn btn-outline-primary" for="search-outlined"><i class="bi bi-search fs-5"></i></label>

    <div class="input-group">

        <!-- Palabra a buscar -->
        <input type="text" class="form-control" id="inputSearchWord"
            [(ngModel)]="pressupostListSearchByName"
            (click)="pressupostListSetShowSortedBy(3)">

        <!-- Eliminar palabra a buscar -->
        <button class="btn btn-outline-danger" type="button" id="button-addon2"
            (click)="pressupostListEraseSearchByName()"> <i class="bi bi-x-lg"></i></button>
    </div>
</div>

<!-- Lista con los presupuestos generados -->
<div class="overflow-div">
    <ul class="list-group list-group-flush p-1">

        <!-- Renderizado *ngFor sobre los presupuestos almacenados en el servicio principal -->
        <li *ngFor="let budget of pressupostListGetBudgets()" class="pe-3">
            <a class="list-group-item list-group-item-action mb-2 p-3 shadow-sm" (click)="pressupostListClickSavedBudget(budget)">
                <div class="d-flex w-100 justify-content-between">

                    <!-- ID del presupuesto -->
                    <h5 class="mb-1">
                        #{{ budget.id }}</h5>

                    <!-- Fecha de creación del presupuesto -->
                    <small class="text-muted">
                        {{ budget.date.toDateString() }}</small>
                </div>

                <!-- Nombre del presupuesto -->
                <div class="d-flex w-100 gap-2" *ngIf="budget.budgetName != '' ">
                    <p class="mb-1 fs-6 fw-bold">Pressupost:</p>
                    <p class="mb-1 fs-6 "
                        [ngClass]="pressupostListIsSearchSelected? 'selected':'noselected'">
                        {{ budget.budgetName }}</p>
                    <small class="text-muted"></small>
                </div>

                <!-- Nombre del cliente -->
                <div class="d-flex w-100 gap-2" *ngIf="budget.customerName != '' ">
                    <p class="mb-1 fs-6 fw-bold">Client:</p>
                    <p class="mb-1 fs-6 ">
                        {{ budget.customerName }}</p>
                </div>

                <!-- Total del presupuesto -->
                <div class="d-flex w-100 gap-2">
                    <p class="mb-1 fs-6 fw-bold">Total:</p>
                    <p class="mb-1 fs-6 ">
                        {{ budget.budgetTotal }}</p>
                </div>

                <!-- Servicios añadidos -->
                <p class="mb-1 fs-6 fw-bold"
                    *ngIf="budget.hasProductWeb || budget.hasProductSeo || budget.hasProductGads">Serveis:</p>

                <p class="ms-5 mb-1 fs-6" *ngIf="budget.hasProductWeb">
                    {{pressupostListProductTitles[0]}} ({{ budget.webNumberPages }}
                    {{ (budget.webNumberPages == 0 || budget.webNumberPages > 1)? "pàgines" : "pàgina" }}, {{
                    budget.webNumberLanguages }}
                    {{ (budget.webNumberLanguages == 0 || budget.webNumberLanguages > 1) ? "idiomes" : "idioma" }})</p>

                <p class="ms-5 mb-1 fs-6" *ngIf="budget.hasProductSeo">
                    {{pressupostListProductTitles[1]}}</p>
                    
                <p class="ms-5 mb-1 fs-6" *ngIf="budget.hasProductGads">
                    {{pressupostListProductTitles[2]}}</p>

            </a>

            <!-- Botón eliminar presupuesto de la lista -->
            <div class="d-flex justify-content-end mb-5">
                <button placement="left" ngbTooltip="Compartir el pressupost #{{ budget.id }}" [openDelay]="800" [closeDelay]="500"
                    class="btn btn-outline-danger me-2"
                    (click)="pressupostListShareBudget(budget)"><i class="bi bi-share"></i></button>
                <button placement="left" ngbTooltip="Eliminar el pressupost #{{ budget.id }}" [openDelay]="800" [closeDelay]="500"
                    class="btn btn-outline-danger"
                    (click)="pressupostListDeleteBudget(budget.id)"><i class="bi bi-trash3"></i></button>
            </div>
        </li>
    </ul>
</div>