<div class="container-fluid mt-4">

    <p class="fs-5">Què vols fer?</p>

    <form>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkWeb" [(ngModel)]="homeProducts.web.selected"
                name="checkWeb" (change)="homeCalculateTotal()">
            <label class="form-check-label" for="checkWeb">{{ homeProducts.web.title }}</label>
        </div>

        <app-panell *ngIf="homeProducts.web.selected" [panelBaseWebPrice]="homeProducts.web.price"></app-panell>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkSeo" [(ngModel)]="homeProducts.seo.selected"
                (change)="homeCalculateTotal()" name="checkSeo">
            <label class="form-check-label" for="checkSeo">{{ homeProducts.seo.title }}</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkGAds" [(ngModel)]="homeProducts.gads.selected"
                (change)="homeCalculateTotal()" name="checkGAds">
            <label class="form-check-label" for="checkGAds">{{ homeProducts.gads.title }}</label>
        </div>

    </form>

    <p class="fs-5 mt-4">{{ homeGetTotalInEuros() }}</p>

</div>