input {
  border    : none;
  text-align: center;
  width     : 36px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

input[type=number] { -moz-appearance:textfield; }

.btn-quantity {
  background-color   : transparent;
  background-repeat  : no-repeat;
  background-position: center;
  padding            : 0px;
  border             : none;
}

.img-quantity {
  width: 32px;
}

i {
  color: #b0b0ae;
}